{
	"debug": false,
	"commandPrefix": "!",
	"externalModules": ["beer-lookup", "xkcd", "urbandictionary", "wikipedia", "cocktail-lookup", "dice", "dictionary", "misc", "random", "translator"],
	"elizaEnabled": true,
	"discord": {
		"enabled": true,
		"serverName": "insert your server name",
		"welcomeChannel": "insert channel id of channel where you want welcome to be",
		"modules": ["musicplayer", "moderation"],
		"defaultEmbedColor": 5592405,
		"pruneInterval": 10,
		"pruneMax": 100
	},
	"slack": {
		"enabled": true,
		"modules": []
	}
}
